<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Preload scripts --}}
    <link rel="preload" as="style" href="{{asset " built/screen.css"}}" />
    <link rel="preload" as="script" href="{{asset " built/casper.js"}}" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset " built/screen.css"}}" />

    <script>
        function focusWithin(e, t) {
            var n = Object(t).className, r = Object(t).attr || "focus-within", a = Object(t).force, c = [];
            try {
                if (e.querySelector(":focus-within"), !a)
                    return i
            } catch (e) { }
            function s() {
                for (var t; t = c.pop();)
                    r && t.removeAttribute(r), n && t.classList.remove(n);
                var a = e.activeElement;
                if (!/^(#document|HTML|BODY)$/.test(Object(a).nodeName))
                    for (; a && 1 === a.nodeType;)
                        r && a.setAttribute(r, ""), n && a.classList.add(n), c.push(a), a = a.parentNode
            }

            function i() {
                e.addEventListener("focus", s, !0), e.addEventListener("blur", s, !0)
            }
            return function t() {
                /m/.test(e.readyState) ? (e.removeEventListener("readystatechange", t), i()) : e.addEventListener("readystatechange", t)
            }(), i
        }
        focusWithin(document);
    </script>

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>

<body ontouchstart="" class="{{body_class}}">
    <div class="viewport">

        {{!--<header id="gh-head" class="gh-head outer{{#match @custom.header_style " Hidden"}} is-header-hidden{{/match}}">
            <div class="gh-head-inner inner">
                <div class="gh-head-brand">
                    <a class="gh-head-logo{{#unless @site.logo}} no-image{{/unless}}" href="{{@site.url}}">
                        {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                        {{@site.title}}
                        {{/if}}
                    </a>
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{>
                        "icons/search"}}</button>
                    <button class="gh-burger"></button>
                </div>

                <nav class="gh-head-menu">
                    {{navigation}}
                </nav>
            </div>
        </header>--}}

        <div class="site-content site-wrapper">
            {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}
        </div>

        {{!-- The global footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="container">
                <div class="row">
                    <div class="col l3">
                        <p>Schulteil Mellingen</p>
                        <hr>
                        <p>Umpferstedter Str. 18a</p>
                        <p>99441 Mellingen</p>
                        <p>Tel: 036453/81313</p>
                        <p>Fax: 036453/81315</p>
                        <p>E-Mail: gym-mellingen@schulen.weimarerland.de</p>
                    </div>
                    <div class="col l3">
                        <p>Schulteil Berlstedt</p>
                        <hr>
                        <p>Hauptstraße 30</p>
                        <p>99439 Am Ettersberg</p>
                        <p>Tel: 036452/74660</p>
                        <p>Fax: 036452/74666</p>
                        <p>E-Mail: gym-berlstedt@schulen.weimarerland.de</p>
                    </div>
                    <div class="col l3">
                        <p>Auszeichnungen</p>
                        <hr>
                        <p><a href="https://www.netzwerk-berufswahlsiegel.de/" target="_blank">
                                <img src="{{@site.url}}/content/images/Q-Siegel_RE_kurz.png" alt="Q-Siegel"
                                    height="50px"></a>
                            <a href="https://schule-ohne-rassismus.org/" target="_blank">
                                <img class="right" src="{{@site.url}}/content/images/Schule_ohne_Rassismus.png"
                                    alt="SoR-Logo" height="50px"></a>
                        </p>
                        <p><a href="{{@site.url}}/static/documents/UniJena_Praktikumsschule.pdf" target="_blank"><img
                                    src="{{@site.url}}/content/images/UniJena_Praktikumsschule.jpg" alt="Uni-Jena"
                                    height="50px"></a></p>
                    </div>
                </div>
                <div class="row"> <span class="left"> <a>© 2006 - &copy; {{date format="YYYY"}}
                            Lyonel-Feininger-Gymnasium. Alle Rechte vorbehalten.</a> </span> <span class="right"> <a
                            href="{{@site.url}}/datenschutz/">Datenschutz</a>&nbsp;•&nbsp; <a
                            href="{{@site.url}}/impressum/">Impressum</a> </span> </div>
            </div>
        </footer>

    </div>
    {{!-- /.viewport --}}

    {{#is "post, page"}}
    {{> "lightbox"}}
    {{/is}}

    {{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
        </script>
    <script src="{{asset " built/casper.js"}}"></script>
    <script>
        $(document).ready(function () {
            // Mobile Menu Trigger
            $('.gh-burger').click(function () {
                $('body').toggleClass('gh-head-open');
            });
            // FitVids - Makes video embeds responsive
            $(".gh-content").fitVids();
        });
    </script>

    {{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the
    closing body tag --}}
    {{ghost_foot}}

</body>

</html>